@import "./mixin";
* {
  font-family: "Microsoft YaHei", "PingFang SC", tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
}

html, body, #app {
  height: 100%;
}

a{
  color: $mainColor;
  text-decoration: none;
}
.page {
  background-color: $color-f9;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

p {
  line-height: 1;
}
input{
  outline: none;
}
