$mainColor: #1188F6; //logo主色
$color-999: #999999;
$color-fff: #ffffff;
$color-333: #333333;
$color-eee: #eeeeee;
$color-666: #666666;
$color-ddd: #dddddd;
$color-ccc: #cccccc;
$color-f5: #F5F5F5;
$color-f8: #F8F8F8;
$color-f9: #F9F9F9;
@mixin center-block {
  margin-left: auto;
  margin-right: auto;
}

//参数冒号后面的值为默认值
@mixin Height($height:30px) {
  height: $height;
  line-height: $height;
}

@mixin clear-fix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

@mixin center-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
